/*为index.html添加的样式*/
p,li{
	  font-size: 50px
      line-height:2;/*设置行高*/
      letter-spacing: 1px;/*设置间距*/
     /* border: 1px solid black;/*设置边框*/
  	   text-align: center;
   }    
h1{
	margin: 0;
	padding: 20px 0;
	color: #00539F;
	font-size: 60px;
	text-shadow: 3px 3px 1px black;/*添加阴影*/
	text-align: center;/*将标题居中显示*/
}
html{
	/*background-color: yellow;*/ 
	font-size: 10px;
	font-family: 'Open Sans',sans-serif;/*font-family意味文本想要使用的字体，为整个页面设定了一个全局字体和字号*/ 
}
body{
	width: 600px;/*强制页面永远保持600像素宽*/
	margin: 0 auto;/*当想在margin和padding这样的属性中设置两个值时，第一个值代表元素的上方和下放
	（这里设置为0），第二个值代表左边和右边（这里auto是一个特殊的值，意为水平方向上左右对称）	*/
	background-color: yellow;
	padding: 0 20px 20px 20px;/*给内边距设置了四个值来让内容四周产生一点空间。
	在这里没有设置上方的内边距，设置右边，下方，左边的内边距为20像素
	值以上，右，下，左的顺序排列*/
	border: 5px solid black;
}
img{
	display: block;
	margin: 0 auto;

}
a:hover
